{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({%static 'img/new-post.jpg'%})">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
               <h1>New Post</h1>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <form class="post-form" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button clas="btn btn-primary" type="submit" name="button">Save</button>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
   var editor = new MediumEditor('.editable');
</script>
{% endblock %}
