{% extends 'blog/base.html'%}
{% load staticfiles %}
{% block body_block %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({%static 'img/post-draft.jpg'%})">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
               <h1>Drafts</h1>
            </div>
         </div>
      </div>
   </div>
</header>
{% for post in posts %}
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <p>Created : {{post.created_date|date:'d-m-Y'}}</p>
         <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
         <p>{{post.text|truncatechars:200}}</p>
      </div>
   </div>
</div>
{% endfor %}
{% endblock %}
